<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>{% block title %}Note{% endblock %}</title>
        <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="Wrapper">
            <div class="container">
                <div id="Main">{% block main %}{% endblock %}</div>
            </div>
        </div>
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
<!--
        <script src="/static/js/bootstrap-transition.js"></script>
        <script src="/static/js/bootstrap-alert.js"></script>
        <script src="/static/js/bootstrap-modal.js"></script>
        <script src="/static/js/bootstrap-dropdown.js"></script>
        <script src="/static/js/bootstrap-scrollspy.js"></script>
        <script src="/static/js/bootstrap-tab.js"></script>
        <script src="/static/js/bootstrap-tooltip.js"></script>
        <script src="/static/js/bootstrap-popover.js"></script>
        <script src="/static/js/bootstrap-button.js"></script>
        <script src="/static/js/bootstrap-collapse.js"></script>
        <script src="/static/js/bootstrap-carousel.js"></script>
        <script src="/static/js/bootstrap-typeahead.js"></script>-->
        <script type="text/javascript">
            $(function() {
                $("#Toolbar ul").on('click', 'a', function(event) {
                    event.preventDefault();
                    var target = event.target;
                    var action = $(target).attr('data-action');
                    
                    switch(action) {
                        case 'save': {
                            var $form = $('form');
                            var url = $form.attr('action');
                            var data = $form.serialize();
                            console.log(data);
                            $.post(url, data, function(result) {
                                console.log(result);
                            });
                            break;
                        }
                        case 'update': {
                            console.log('update');
                            break;
                        }
                        case 'delete': {
                            console.log('delete');
                            break;
                        }
                        case 'share': {
                            console.log('share');
                            break;
                        }
                        default: {
                            console.log('no action');
                        }
                    }
                });
            });
        </script>
    </body>
</html>
