<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>{% block title %}Note{% endblock %}</title>
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="Wrapper">
            <div class="container">
                <div id="Main">{% block main %}{% endblock %}</div>
            </div>
        </div>
        <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
