{% extends "core/base.html" %}

{% block main %}
<div id="Toolbar" class="clearfix">
    <span>保存于 09:12:32</span>
    <ul>
        <li><a href="#" data-action="save">保存</a></li>
        <li><a href="#" data-action="update">修改</a></li>
        <li><a href="#" data-action="delete">删除</a></li>
        <li><a href="#" data-action="share">分享</a></li>
    </ul>
</div>
<div id="Editor">
    <form method="post" action="/note/create">
        <textarea name="content">{% if note %}{{ note.content}}{% endif %}</textarea>
    </form>
</div>
<div>
    <a href="{{ url }}">{{ url }}</a>
</div>
{% endblock %}
